<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <%= render "shared/navigation/main_links" %>
        <%= render "shared/navigation/search" %>
        <%= render "shared/navigation/login" %>
      </div>
    </div>
  </header>